.nav {
    display: flex;
    justify-content: left;
    margin-left: 10rem;
    flex-direction: column;
}

.nav a {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 2rem;
}

.nav h2 {
    font-size: 1rem;
}

.main {
    margin: 2rem 10rem;
    margin-left: 10rem;
}



.formgroup {
    width: 60vw;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.result {
    padding: 1rem 0;
    margin-bottom: 0.32rem;
    border-bottom: 1px solid rgba(98, 98, 98, 0.664);
}

.result h3 {
    font-size: 1rem;
}

.main h4 {
    font-size: 1rem;
}



@media (max-width:768px) {

    .nav {
        margin: 2rem 2rem;
    }z


    .main {
        margin: 1rem 2rem;
    }
}


@media (max-width:425px) {
    .main .form-control {
        width: 80vw;
    }
}


.anuncio{
    border: 1px solid red;
    background-color: grey;
    width: 70%;
    
}
